In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')

In [4]:
print(df.columns)

Index(['player', 'dismissal', 'runs', 'balls', 'minutes', '4s', '6s',
       'strike_rate', 'team', 'opponent', 'innings', 'match_id'],
      dtype='object')

In [6]:
filtered_df = df[(df['strike_rate'].between(80, 120)) & (df['team'] == 'IND')]

In [7]:
grouped = filtered_df.groupby('dismissal')['strike_rate'].agg(['mean', 'median'])

In [8]:
result = grouped.sort_values(by='mean', ascending=False)

In [9]:
print(result)

Empty DataFrame
Columns: [mean, median]
Index: []

In [10]:
#cumpulsory2
split_names = df['player'].str.split(' ', n=1, expand=True)
df['First_Name'] = split_names[0]
df['Last_Name'] = split_names[1].fillna('')

In [11]:
df['Full_Name'] = df['First_Name'] + ' ' + df['Last_Name']

In [12]:
unique_counts = df.groupby('team')['Full_Name'].nunique()

In [13]:
print(unique_counts)

team
Afghanistan     13
Australia       14
Bangladesh      15
England         15
India           13
Netherlands     15
New Zealand     14
Pakistan        15
South Africa    14
Sri Lanka       18
Name: Full_Name, dtype: int64

In [14]:
#cumpolsory3
df['runs_normalized'] = (df['runs'] - df['runs'].min()) / (df['runs'].max() - df['runs'].min())

In [15]:
df['strike_rate'] = pd.to_numeric(df['strike_rate'], errors='coerce')  # Ensure it's numeric
median_sr = df['strike_rate'].median()
df.loc[df['strike_rate'] < 0, 'strike_rate'] = median_sr

In [16]:
match_info = pd.DataFrame({
    'match_id': df['match_id'].unique()[:5],  # match IDs from your dataset
    'venue': ['Mumbai', 'Delhi', 'Kolkata', 'Chennai', 'Ahmedabad'],
    'date': pd.date_range(start='2023-10-05', periods=5, freq='D')
})

In [17]:
merged_df = pd.merge(df, match_info, on='match_id', how='left')

In [18]:
merged_df.head()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id,First_Name,Last_Name,Full_Name,runs_normalized,venue,date
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0,Rohit,Sharma,Rohit Sharma,0.019900,Mumbai,2023-10-05
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0,Shubman,Gill,Shubman Gill,0.457711,Mumbai,2023-10-05
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0,Virat,Kohli,Virat Kohli,0.437811,Mumbai,2023-10-05
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0,Shreyas,Iyer,Shreyas Iyer,0.407960,Mumbai,2023-10-05
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0,KL,Rahul,KL Rahul,0.104478,Mumbai,2023-10-05