In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('dataset.csv')

In [7]:
df.head()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0

In [8]:
print(df.tail())

                  player          dismissal  runs  balls  minutes  4s  6s  \
870       Iftikhar Ahmed      c Malan b Ali     3      5        8   0   0
871          Shadab Khan           b Rashid     4      7        4   1   0
872  Shaheen Shah Afridi     lbw b Atkinson    25     23       23   3   1
873       Mohammad Wasim            not out    16     14       33   2   1
874           Haris Rauf  c Stokes b Woakes    35     23       27   3   3

     strike_rate      team opponent  innings  match_id
870        60.00  Pakistan  England        2        47
871        57.14  Pakistan  England        2        47
872       108.69  Pakistan  England        2        47
873       114.28  Pakistan  England        2        47
874       152.17  Pakistan  England        2        47

In [44]:
print(df.shape)

(875, 12)

In [10]:
print(df.dtypes)

player          object
dismissal       object
runs             int64
balls            int64
minutes          int64
4s               int64
6s               int64
strike_rate    float64
team            object
opponent        object
innings          int64
match_id         int64
dtype: object

In [11]:
print(df.isnull().sum())

player         0
dismissal      0
runs           0
balls          0
minutes        0
4s             0
6s             0
strike_rate    0
team           0
opponent       0
innings        0
match_id       0
dtype: int64

In [12]:
print(df.describe())

             runs       balls     minutes          4s          6s  \
count  875.000000  875.000000  875.000000  875.000000  875.000000
mean    26.773714   29.090286   42.259429    2.558857    0.736000
std     31.018840   28.579166   41.752733    3.148084    1.490633
min      0.000000    0.000000    1.000000    0.000000    0.000000
25%      5.000000    8.000000   12.000000    0.000000    0.000000
50%     15.000000   19.000000   27.000000    1.000000    0.000000
75%     39.000000   40.500000   59.000000    4.000000    1.000000
max    201.000000  143.000000  217.000000   21.000000   11.000000

       strike_rate     innings    match_id
count   875.000000  875.000000  875.000000
mean     82.771337    1.459429   23.186286
std      53.106854    0.498636   13.828329
min       0.000000    1.000000    0.000000
25%      50.000000    1.000000   11.500000
50%      80.430000    1.000000   23.000000
75%     106.660000    2.000000   35.000000
max     600.000000    2.000000   47.000000

In [15]:
duplicates = df[df.duplicated()]
df = df.drop_duplicates()

In [16]:
print(df.nunique())

player         146
dismissal      466
runs           124
balls          118
minutes        157
4s              20
6s              12
strike_rate    434
team            10
opponent        10
innings          2
match_id        48
dtype: int64

In [24]:
#data cleaning 
df.fillna(df.mean(numeric_only=True), inplace=True)

In [25]:
df = df.dropna()

In [26]:
df.rename(columns={'Player': 'Player_Name'}, inplace=True)

In [28]:
df.replace('NA', pd.NA, inplace=True)

In [29]:
if 'SR' in df.columns:
    df['SR_Normalized'] = (df['SR'] - df['SR'].min()) / (df['SR'].max() - df['SR'].min())

In [32]:
#data selection and filtering
print("Runs Column:")
print(df['runs'])

Runs Column:
0       4
1      92
2      88
3      82
4      21
       ..
870     3
871     4
872    25
873    16
874    35
Name: runs, Length: 875, dtype: int64

In [36]:
print(df[['player', 'innings']])

                  player  innings
0           Rohit Sharma        1
1           Shubman Gill        1
2            Virat Kohli        1
3           Shreyas Iyer        1
4               KL Rahul        1
..                   ...      ...
870       Iftikhar Ahmed        2
871          Shadab Khan        2
872  Shaheen Shah Afridi        2
873       Mohammad Wasim        2
874           Haris Rauf        2

[875 rows x 2 columns]

In [37]:
print(df[df['runs'] > 300])

Empty DataFrame
Columns: [player, dismissal, runs, balls, minutes, 4s, 6s, strike_rate, team, opponent, innings, match_id]
Index: []

In [38]:
print(df[df['innings'] > 5])

Empty DataFrame
Columns: [player, dismissal, runs, balls, minutes, 4s, 6s, strike_rate, team, opponent, innings, match_id]
Index: []

In [40]:
print(df[df['6s'] > 3])

                    player                               dismissal  runs  \
3             Shreyas Iyer               c Theekshana b Madushanka    82
52         Quinton de Kock            c Nasum Ahmed b Hasan Mahmud   174
56        Heinrich Klaasen            c Mahmudullah b Hasan Mahmud    90
57            David Miller                                 not out    34
92            Rohit Sharma                  c Williamson b Southee    47
95            Shreyas Iyer                      c Mitchell b Boult   105
113       Charith Asalanka       c Litton Das b Tanzim Hasan Sakib   108
123         Daryl Mitchell                c Kohli b Mohammed Shami   130
131           David Warner                          c & b Phillips    81
132            Travis Head                              b Phillips   109
138            Pat Cummins                             lbw b Boult    37
156       Heinrich Klaasen                              b Atkinson   109
158           Marco Jansen                                 not out    75
166           David Miller                        c Head b Cummins   101
238            Dawid Malan                          b Mahedi Hasan   140
248     Rahmanullah Gurbaz       run out (sub [DJ Willey]/Buttler)    80
299  Rassie van der Dussen                               b Southee   133
300           David Miller                    c Mitchell b Neesham    53
315          Glenn Maxwell                c Engelbrecht b van Beek   106
330        Quinton de Kock                               b Maxwell   109
344         Glenn Phillips           c Rashid Khan b Naveen-ul-Haq    71
365           David Warner        c sub (Shadab Khan) b Haris Rauf   163
366         Mitchell Marsh       c Usama Mir b Shaheen Shah Afridi   121
379             Ben Stokes                c Engelbrecht b van Beek   108
400           Kusal Mendis               c Imam-ul-Haq b Hasan Ali   122
409           Shubman Gill             c Nidamanuru b van Meekeren    51
411           Shreyas Iyer                                 not out   128
412               KL Rahul                c Engelbrecht b de Leede   102
426     Azmatullah Omarzai                                b Pandya    62
438         Iftikhar Ahmed    c Azmatullah Omarzai b Naveen-ul-Haq    40
496            Travis Head         c Shubman Gill b Mohammed Siraj   137
524            Mahmudullah                      c Jansen b Coetzee   111
533         Daryl Mitchell                                 not out    89
535           Rohit Sharma  c Iftikhar Ahmed b Shaheen Shah Afridi    86
550         Daryl Mitchell               c Jadeja b Mohammed Shami   134
572           Rohit Sharma                              b Ferguson    46
582        Rachin Ravindra                 c Labuschagne b Cummins   116
611              Mark Wood                                 not out    43
613           David Warner                               b Markram    29
623        Rachin Ravindra                                 not out   123
656         Mitchell Marsh                                 not out   177
700          Glenn Maxwell                                 not out   201
720         Glenn Phillips                      c Rabada b Coetzee    60
728           Kusal Mendis                      c Klaasen b Rabada    76
730       Charith Asalanka            c sub (RR Hendricks) b Ngidi    79
750            Virat Kohli                                 not out   103
814           Fakhar Zaman    c Towhid Hridoy b Mehidy Hasan Miraz    81
830        Teja Nidamanuru               c Mohammed Shami b Sharma    54
836           Fakhar Zaman                                 not out   126
838           Rohit Sharma                           b Rashid Khan   131

     balls  minutes  4s  6s  strike_rate          team      opponent  innings  \
3       56       84   3   6       146.42         India     Sri Lanka        1
52     140      192  15   7       124.28  South Africa    Bangladesh        1
56      49       94   2   8       183.67  South Africa    Bangladesh        1
57      15       26   1   4       226.66  South Africa    Bangladesh        1
92      29       40   4   4       162.06         India   New Zealand        1
95      70      114   4   8       150.00         India   New Zealand        1
113    105      159   6   5       102.85     Sri Lanka    Bangladesh        1
123    127      192   9   5       102.36   New Zealand         India        1
131     65       77   5   6       124.61     Australia   New Zealand        1
132     67       94  10   7       162.68     Australia   New Zealand        1
138     14       23   2   4       264.28     Australia   New Zealand        1
156     67      119  12   4       162.68  South Africa       England        1
158     42       72   3   6       178.57  South Africa       England        1
166    116      138   8   5        87.06  South Africa     Australia        1
238    107      106  16   5       130.84       England    Bangladesh        1
248     57       87   8   4       140.35   Afghanistan       England        1
299    118      172   9   5       112.71  South Africa   New Zealand        1
300     30       48   2   4       176.66  South Africa   New Zealand        1
315     44       53   9   8       240.90     Australia   Netherlands        1
330    106      147   8   5       102.83  South Africa     Australia        1
344     80      109   4   4        88.75   New Zealand   Afghanistan        1
365    124      180  14   9       131.45     Australia      Pakistan        1
366    108      139  10   9       112.03     Australia      Pakistan        1
379     84      136   6   6       128.57       England   Netherlands        1
400     77      124  14   6       158.44     Sri Lanka      Pakistan        1
409     32       49   3   4       159.37         India   Netherlands        1
411     94      145  10   5       136.17         India   Netherlands        1
412     64       98  11   4       159.37         India   Netherlands        1
426     69       82   2   4        89.85   Afghanistan         India        1
438     27       40   2   4       148.14      Pakistan   Afghanistan        1
496    120      166  15   4       114.16     Australia         India        2
524    111      150  11   4       100.00    Bangladesh  South Africa        2
533     67      103   6   4       132.83   New Zealand    Bangladesh        2
535     63       91   6   6       136.50         India      Pakistan        2
550    119      180   9   7       112.60   New Zealand         India        2
572     40       44   4   4       115.00         India   New Zealand        2
582     89      137   9   5       130.33   New Zealand     Australia        2
611     17       25   2   5       252.94       England  South Africa        2
613     18       29   1   4       161.11     Australia  South Africa        2
623     96      141  11   5       128.12   New Zealand       England        2
656    132      177  17   9       134.09     Australia    Bangladesh        2
700    128      181  21  10       157.03     Australia   Afghanistan        2
720     50       87   4   4       120.00   New Zealand  South Africa        2
728     42       55   4   8       180.95     Sri Lanka  South Africa        2
730     65       83   8   4       121.53     Sri Lanka  South Africa        2
750     97      113   6   4       106.18         India    Bangladesh        2
814     74      126   3   7       109.45      Pakistan    Bangladesh        2
830     39       65   1   6       138.46   Netherlands         India        2
836     81      103   8  11       155.55      Pakistan   New Zealand        2
838     84      111  16   5       155.95         India   Afghanistan        2

     match_id
3           0
52          5
56          5
57          5
92          9
95          9
113        11
123        12
131        13
132        13
138        13
156        15
158        15
166        16
238        23
248        24
299        29
300        29
315        31
330        33
344        34
365        37
366        37
379        38
400        40
409        41
411        41
412        41
426        43
438        44
496         2
524         5
533         6
535         7
550         9
572        12
582        13
611        15
613        16
623        17
656        22
700        27
720        29
728        30
730        30
750        32
814        39
830        41
836        42
838        43

In [41]:
print(df[df['strike_rate'] > 120])

                   player                          dismissal  runs  balls  \
0            Rohit Sharma                       b Madushanka     4      2
3            Shreyas Iyer          c Theekshana b Madushanka    82     56
5        Suryakumar Yadav              c Mendis b Madushanka    12      9
6         Ravindra Jadeja    run out (Samarawickrama/Mendis)    35     24
13           Saud Shakeel            c Saqib Zulfiqar b Dutt    68     52
..                    ...                                ...   ...    ...
832  Roelof van der Merwe          c Mohammed Shami b Jadeja    16      8
836          Fakhar Zaman                            not out   126     81
838          Rohit Sharma                      b Rashid Khan   131     84
842    Rahmanullah Gurbaz  c Usama Mir b Shaheen Shah Afridi    65     53
874            Haris Rauf                  c Stokes b Woakes    35     23

     minutes  4s  6s  strike_rate         team     opponent  innings  match_id
0          2   1   0       200.00        India    Sri Lanka        1         0
3         84   3   6       146.42        India    Sri Lanka        1         0
5         13   2   0       133.33        India    Sri Lanka        1         0
6         41   1   1       145.83        India    Sri Lanka        1         0
13        84   9   1       130.76     Pakistan  Netherlands        1         1
..       ...  ..  ..          ...          ...          ...      ...       ...
832        5   1   2       200.00  Netherlands        India        2        41
836      103   8  11       155.55     Pakistan  New Zealand        2        42
838      111  16   5       155.95        India  Afghanistan        2        43
842       91   9   1       122.64  Afghanistan     Pakistan        2        44
874       27   3   3       152.17     Pakistan      England        2        47

[154 rows x 12 columns]

In [42]:
#Section 4: Sorting and Ordering
print(df.sort_values('runs'))

              player                         dismissal  runs  balls  minutes  \
338   Keshav Maharaj                           not out     0      2        1
206   Mitchell Marsh                  c Kohli b Bumrah     0      6       11
696      Travis Head   c Ikram Alikhil b Naveen-ul-Haq     0      2        5
511        Mark Wood                          b Bumrah     0      1        3
399     Kusal Perera     c Mohammad Rizwan b Hasan Ali     0      4        7
..               ...                               ...   ...    ...      ...
621     Devon Conway                           not out   152    121      147
365     David Warner  c sub (Shadab Khan) b Haris Rauf   163    124      180
52   Quinton de Kock      c Nasum Ahmed b Hasan Mahmud   174    140      192
656   Mitchell Marsh                           not out   177    132      177
700    Glenn Maxwell                           not out   201    128      181

     4s  6s  strike_rate          team     opponent  innings  match_id
338   0   0         0.00  South Africa    Australia        1        33
206   0   0         0.00     Australia        India        1        20
696   0   0         0.00     Australia  Afghanistan        2        27
511   0   0         0.00       England        India        2         3
399   0   0         0.00     Sri Lanka     Pakistan        1        40
..   ..  ..          ...           ...          ...      ...       ...
621  19   3       125.61   New Zealand      England        2        17
365  14   9       131.45     Australia     Pakistan        1        37
52   15   7       124.28  South Africa   Bangladesh        1         5
656  17   9       134.09     Australia   Bangladesh        2        22
700  21  10       157.03     Australia  Afghanistan        2        27

[875 rows x 12 columns]

In [43]:
print(df.sort_values('player'))

                player                             dismissal  runs  balls  \
818  Abdullah Shafique     c sub (MADI Hemantha) b Pathirana   113    103
791  Abdullah Shafique                   c Maxwell b Stoinis    64     61
286  Abdullah Shafique                      c Ngidi b Jansen     9     17
813  Abdullah Shafique              lbw b Mehidy Hasan Miraz    68     69
432  Abdullah Shafique                      lbw b Noor Ahmad    58     75
..                 ...                                   ...   ...    ...
716         Will Young                   c de Kock b Coetzee    33     37
271         Will Young             c de Leede b van Meekeren    70     80
622         Will Young                    c Buttler b Curran     0      1
581         Will Young                   c Starc b Hazlewood    32     37
340         Will Young  c Ikram Alikhil b Azmatullah Omarzai    54     64

     minutes  4s  6s  strike_rate         team      opponent  innings  \
818      150  10   3       109.70     Pakistan     Sri Lanka        2
791       93   7   2       104.91     Pakistan     Australia        2
286       21   1   0        52.94     Pakistan  South Africa        1
813       94   9   2        98.55     Pakistan    Bangladesh        2
432       89   5   2        77.33     Pakistan   Afghanistan        1
..       ...  ..  ..          ...          ...           ...      ...
716       50   5   0        89.18  New Zealand  South Africa        2
271      106   7   2        87.50  New Zealand   Netherlands        1
622        5   0   0         0.00  New Zealand       England        2
581       44   4   1        86.48  New Zealand     Australia        2
340       98   4   3        84.37  New Zealand   Afghanistan        1

     match_id
818        40
791        37
286        28
813        39
432        44
..        ...
716        29
271        26
622        17
581        13
340        34

[875 rows x 12 columns]

In [45]:
print(df.sort_values('strike_rate', ascending=False))

                 player                           dismissal  runs  balls  \
302       Aiden Markram                             not out     6      1
470        David Willey   c Iftikhar Ahmed b Mohammad Wasim    15      5
384        David Willey            c Engelbrecht b de Leede     6      2
138         Pat Cummins                         lbw b Boult    37     14
151          Aryan Dutt                             not out    23      9
..                  ...                                 ...   ...    ...
723       James Neesham                           b Maharaj     0      8
338      Keshav Maharaj                             not out     0      2
357  Dilshan Madushanka                             not out     0      4
367       Glenn Maxwell  c Babar Azam b Shaheen Shah Afridi     0      1
474  Dimuth Karunaratne                lbw b Mohammed Siraj     0      1

     minutes  4s  6s  strike_rate          team      opponent  innings  \
302        1   0   1       600.00  South Africa   New Zealand        1
470        5   2   1       300.00       England      Pakistan        1
384        1   0   1       300.00       England   Netherlands        1
138       23   2   4       264.28     Australia   New Zealand        1
151       14   0   3       255.55   Netherlands  South Africa        1
..       ...  ..  ..          ...           ...           ...      ...
723        6   0   0         0.00   New Zealand  South Africa        2
338        1   0   0         0.00  South Africa     Australia        1
357        5   0   0         0.00     Sri Lanka   Afghanistan        1
367        1   0   0         0.00     Australia      Pakistan        1
474       10   0   0         0.00     Sri Lanka         India        2

     match_id
302        29
470        47
384        38
138        13
151        14
..        ...
723        29
338        33
357        35
367        37
474         0

[875 rows x 12 columns]

In [46]:
print(df.sort_values(['team', 'runs']))

                     player                          dismissal  runs  balls  \
203           Naveen-ul-Haq   c Towhid Hridoy b Shoriful Islam     0      6
204        Fazalhaq Farooqi                            not out     0      3
773           Naveen-ul-Haq                c Chapman b Santner     0      1
774        Fazalhaq Farooqi               c Mitchell b Santner     0      2
775      Rahmanullah Gurbaz                       b Madushanka     0      4
..                      ...                                ...   ...    ...
730        Charith Asalanka       c sub (RR Hendricks) b Ngidi    79     65
515  Sadeera Samarawickrama                            not out    91    107
113        Charith Asalanka  c Litton Das b Tanzim Hasan Sakib   108    105
401  Sadeera Samarawickrama      c Mohammad Rizwan b Hasan Ali   108     89
400            Kusal Mendis          c Imam-ul-Haq b Hasan Ali   122     77

     minutes  4s  6s  strike_rate         team      opponent  innings  \
203        8   0   0         0.00  Afghanistan    Bangladesh        1
204        3   0   0         0.00  Afghanistan    Bangladesh        1
773        1   0   0         0.00  Afghanistan   New Zealand        2
774        1   0   0         0.00  Afghanistan   New Zealand        2
775        2   0   0         0.00  Afghanistan     Sri Lanka        2
..       ...  ..  ..          ...          ...           ...      ...
730       83   8   4       121.53    Sri Lanka  South Africa        2
515      168   7   0        85.04    Sri Lanka   Netherlands        2
113      159   6   5       102.85    Sri Lanka    Bangladesh        1
401      139  11   2       121.34    Sri Lanka      Pakistan        1
400      124  14   6       158.44    Sri Lanka      Pakistan        1

     match_id
203        19
204        19
773        34
774        34
775        35
..        ...
730        30
515         4
113        11
401        40
400        40

[875 rows x 12 columns]

In [47]:
print(df.sort_values('balls').head(3))

             player  dismissal  runs  balls  minutes  4s  6s  strike_rate  \
863  Shoriful Islam    not out     0      0        1   0   0          0.0
141  Josh Hazlewood    not out     0      0        1   0   0          0.0
114  Angelo Mathews  timed out     0      0        4   0   0          0.0

           team     opponent  innings  match_id
863  Bangladesh  Netherlands        2        46
141   Australia  New Zealand        1        13
114   Sri Lanka   Bangladesh        1        11

In [48]:
#renaming columns
df.rename(columns={'team': 'country'}, inplace=True)

In [49]:
df.rename(columns={'innings': 'batting_innings'}, inplace=True)

In [50]:
df.rename(columns={
    'player': 'batsman_name',
    'opponent': 'opposition_team'
}, inplace=True)

In [51]:
df.rename(columns={'strike_rate': 'SR'}, inplace=True)

In [52]:
print("\nUpdated column names:")
print(df.columns)

Updated column names:
Index(['batsman_name', 'dismissal', 'runs', 'balls', 'minutes', '4s', '6s',
       'SR', 'country', 'opposition_team', 'batting_innings', 'match_id'],
      dtype='object')

In [54]:
#aggrigation values
print("Average Runs:", df['runs'].mean())

Average Runs: 26.773714285714284

In [55]:
print("Total Balls Faced:", df['balls'].sum())

Total Balls Faced: 25454

In [56]:
print(df['country'].value_counts())

country
Australia       100
Netherlands      98
England          98
Bangladesh       90
South Africa     89
Sri Lanka        87
New Zealand      84
India            77
Pakistan         77
Afghanistan      75
Name: count, dtype: int64

In [57]:
print(df.groupby('country')['runs'].sum())

country
Afghanistan     1990
Australia       2945
Bangladesh      1944
England         2135
India           3038
Netherlands     1728
New Zealand     2712
Pakistan        2220
South Africa    2773
Sri Lanka       1942
Name: runs, dtype: int64

In [58]:
print("Maximum 6s hit by any player in a match:", df['6s'].max())

Maximum 6s hit by any player in a match: 11

In [59]:
#Basic String Manipulation
df['country'] = df['country'].str.lower()

In [60]:
df['batsman_name_3char'] = df['batsman_name'].str[:3]

In [62]:
split_names = df['batsman_name'].str.split(' ', n=1, expand=True)

# Assign to new columns
df['first_name'] = split_names[0]
df['last_name'] = split_names[1].fillna('')

In [63]:
df['full_name'] = df['first_name'] + ' ' + df['last_name']

In [64]:
df['country'] = df['country'].str.replace(' ', '_')

In [65]:
df[['batsman_name', 'batsman_name_3char', 'first_name', 'last_name', 'full_name', 'country']].head()

   batsman_name batsman_name_3char first_name last_name     full_name country
0  Rohit Sharma                Roh      Rohit    Sharma  Rohit Sharma   india
1  Shubman Gill                Shu    Shubman      Gill  Shubman Gill   india
2   Virat Kohli                Vir      Virat     Kohli   Virat Kohli   india
3  Shreyas Iyer                Shr    Shreyas      Iyer  Shreyas Iyer   india
4      KL Rahul                KL          KL     Rahul      KL Rahul   india

In [66]:
#iloc â€“ Integer-Location Based Indexing
print(df.iloc[0])

batsman_name          Rohit Sharma
dismissal             b Madushanka
runs                             4
balls                            2
minutes                          2
4s                               1
6s                               0
SR                           200.0
country                      india
opposition_team          Sri Lanka
batting_innings                  1
match_id                         0
batsman_name_3char             Roh
first_name                   Rohit
last_name                   Sharma
full_name             Rohit Sharma
Name: 0, dtype: object

In [67]:
print(df.iloc[-3:])

            batsman_name          dismissal  runs  balls  minutes  4s  6s  \
872  Shaheen Shah Afridi     lbw b Atkinson    25     23       23   3   1
873       Mohammad Wasim            not out    16     14       33   2   1
874           Haris Rauf  c Stokes b Woakes    35     23       27   3   3

         SR   country opposition_team  batting_innings  match_id  \
872  108.69  pakistan         England                2        47
873  114.28  pakistan         England                2        47
874  152.17  pakistan         England                2        47

    batsman_name_3char first_name    last_name            full_name
872                Sha    Shaheen  Shah Afridi  Shaheen Shah Afridi
873                Moh   Mohammad        Wasim       Mohammad Wasim
874                Har      Haris         Rauf           Haris Rauf

In [68]:
print(df.iloc[:5, :3])

   batsman_name                  dismissal  runs
0  Rohit Sharma               b Madushanka     4
1  Shubman Gill      c Mendis b Madushanka    92
2   Virat Kohli    c Nissanka b Madushanka    88
3  Shreyas Iyer  c Theekshana b Madushanka    82
4      KL Rahul      c Hemantha b Chameera    21

In [69]:
print(df.iloc[:, [1, 2]])

                     dismissal  runs
0                 b Madushanka     4
1        c Mendis b Madushanka    92
2      c Nissanka b Madushanka    88
3    c Theekshana b Madushanka    82
4        c Hemantha b Chameera    21
..                         ...   ...
870              c Malan b Ali     3
871                   b Rashid     4
872             lbw b Atkinson    25
873                    not out    16
874          c Stokes b Woakes    35

[875 rows x 2 columns]

In [70]:
print(df.iloc[3, 1])

c Theekshana b Madushanka

In [71]:
#loc â€“ Label-Based Indexing
print(df.loc[df['batsman_name'] == 'Virat Kohli'])

    batsman_name                     dismissal  runs  balls  minutes  4s  6s  \
2    Virat Kohli       c Nissanka b Madushanka    88     94      139  11   0
22   Virat Kohli                     b Cummins    54     63       99   4   0
33   Virat Kohli             c Stokes b Willey     0      9       12   0   0
94   Virat Kohli            c Conway b Southee   117    113      149   9   2
360  Virat Kohli                       not out   101    121      195  10   0
410  Virat Kohli               b van der Merwe    51     56       69   5   1
537  Virat Kohli  c Mohammad Nawaz b Hasan Ali    16     18       31   3   0
574  Virat Kohli            c Phillips b Henry    95    104      154   8   2
639  Virat Kohli     c Labuschagne b Hazlewood    85    116      171   6   0
750  Virat Kohli                       not out   103     97      113   6   4
840  Virat Kohli                       not out    55     56       64   6   0

         SR country opposition_team  batting_innings  match_id  \
2     93.61   india       Sri Lanka                1         0
22    85.71   india       Australia                1         2
33     0.00   india         England                1         3
94   103.53   india     New Zealand                1         9
360   83.47   india    South Africa                1        36
410   91.07   india     Netherlands                1        41
537   88.88   india        Pakistan                2         7
574   91.34   india     New Zealand                2        12
639   73.27   india       Australia                2        20
750  106.18   india      Bangladesh                2        32
840   98.21   india     Afghanistan                2        43

    batsman_name_3char first_name last_name    full_name
2                  Vir      Virat     Kohli  Virat Kohli
22                 Vir      Virat     Kohli  Virat Kohli
33                 Vir      Virat     Kohli  Virat Kohli
94                 Vir      Virat     Kohli  Virat Kohli
360                Vir      Virat     Kohli  Virat Kohli
410                Vir      Virat     Kohli  Virat Kohli
537                Vir      Virat     Kohli  Virat Kohli
574                Vir      Virat     Kohli  Virat Kohli
639                Vir      Virat     Kohli  Virat Kohli
750                Vir      Virat     Kohli  Virat Kohli
840                Vir      Virat     Kohli  Virat Kohli

In [72]:
print(df.loc[df['runs'] > 50])

              batsman_name                          dismissal  runs  balls  \
1             Shubman Gill              c Mendis b Madushanka    92     92
2              Virat Kohli            c Nissanka b Madushanka    88     94
3             Shreyas Iyer          c Theekshana b Madushanka    82     56
12         Mohammad Rizwan                         b de Leede    68     75
13            Saud Shakeel            c Saqib Zulfiqar b Dutt    68     52
..                     ...                                ...   ...    ...
842     Rahmanullah Gurbaz  c Usama Mir b Shaheen Shah Afridi    65     53
843         Ibrahim Zadran      c Mohammad Rizwan b Hasan Ali    87    113
844            Rahmat Shah                            not out    77     84
848  Rassie van der Dussen                            not out    76     95
869            Agha Salman                  c Stokes b Willey    51     45

     minutes  4s  6s      SR       country opposition_team  batting_innings  \
1        136  11   2  100.00         india       Sri Lanka                1
2        139  11   0   93.61         india       Sri Lanka                1
3         84   3   6  146.42         india       Sri Lanka                1
12       104   8   0   90.66      pakistan     Netherlands                1
13        84   9   1  130.76      pakistan     Netherlands                1
..       ...  ..  ..     ...           ...             ...              ...
842       91   9   1  122.64   afghanistan        Pakistan                2
843      146  10   0   76.99   afghanistan        Pakistan                2
844      129   5   2   91.66   afghanistan        Pakistan                2
848      141   6   1   80.00  south_africa     Afghanistan                2
869       53   6   1  113.33      pakistan         England                2

     match_id batsman_name_3char   first_name       last_name  \
1           0                Shu      Shubman            Gill
2           0                Vir        Virat           Kohli
3           0                Shr      Shreyas            Iyer
12          1                Moh     Mohammad          Rizwan
13          1                Sau         Saud         Shakeel
..        ...                ...          ...             ...
842        44                Rah  Rahmanullah          Gurbaz
843        44                Ibr      Ibrahim          Zadran
844        44                Rah       Rahmat            Shah
848        45                Ras       Rassie  van der Dussen
869        47                Agh         Agha          Salman

                 full_name
1             Shubman Gill
2              Virat Kohli
3             Shreyas Iyer
12         Mohammad Rizwan
13            Saud Shakeel
..                     ...
842     Rahmanullah Gurbaz
843         Ibrahim Zadran
844            Rahmat Shah
848  Rassie van der Dussen
869            Agha Salman

[156 rows x 16 columns]

In [73]:
print(df.loc[df['runs'].between(30, 70), 'country'])

6           india
12       pakistan
13       pakistan
15       pakistan
16       pakistan
          ...
855    bangladesh
866      pakistan
867      pakistan
869      pakistan
874      pakistan
Name: country, Length: 190, dtype: object

In [74]:
print(df.loc[df['country'] == 'india'])

     batsman_name                       dismissal  runs  balls  minutes  4s  \
0    Rohit Sharma                    b Madushanka     4      2        2   1
1    Shubman Gill           c Mendis b Madushanka    92     92      136  11
2     Virat Kohli         c Nissanka b Madushanka    88     94      139  11
3    Shreyas Iyer       c Theekshana b Madushanka    82     56       84   3
4        KL Rahul           c Hemantha b Chameera    21     19       34   2
..            ...                             ...   ...    ...      ...  ..
752      KL Rahul                         not out    34     34       44   3
838  Rohit Sharma                   b Rashid Khan   131     84      111  16
839  Ishan Kishan  c Ibrahim Zadran b Rashid Khan    47     47       78   5
840   Virat Kohli                         not out    55     56       64   6
841  Shreyas Iyer                         not out    25     23       31   1

     6s      SR country opposition_team  batting_innings  match_id  \
0     0  200.00   india       Sri Lanka                1         0
1     2  100.00   india       Sri Lanka                1         0
2     0   93.61   india       Sri Lanka                1         0
3     6  146.42   india       Sri Lanka                1         0
4     0  110.52   india       Sri Lanka                1         0
..   ..     ...     ...             ...              ...       ...
752   1  100.00   india      Bangladesh                2        32
838   5  155.95   india     Afghanistan                2        43
839   2  100.00   india     Afghanistan                2        43
840   0   98.21   india     Afghanistan                2        43
841   1  108.69   india     Afghanistan                2        43

    batsman_name_3char first_name last_name     full_name
0                  Roh      Rohit    Sharma  Rohit Sharma
1                  Shu    Shubman      Gill  Shubman Gill
2                  Vir      Virat     Kohli   Virat Kohli
3                  Shr    Shreyas      Iyer  Shreyas Iyer
4                  KL          KL     Rahul      KL Rahul
..                 ...        ...       ...           ...
752                KL          KL     Rahul      KL Rahul
838                Roh      Rohit    Sharma  Rohit Sharma
839                Ish      Ishan    Kishan  Ishan Kishan
840                Vir      Virat     Kohli   Virat Kohli
841                Shr    Shreyas      Iyer  Shreyas Iyer

[77 rows x 16 columns]

In [75]:
print(df.loc[2, ['batsman_name', 'runs']])

batsman_name    Virat Kohli
runs                     88
Name: 2, dtype: object

In [76]:
#replace â€“ Replacing Values in a DataFrame
df['country'] = df['country'].replace('india', 'IND')

In [77]:
import numpy as np
df['runs'] = df['runs'].replace(0, np.nan)

In [78]:
df.replace(100, 50, inplace=True)

In [79]:
df['dismissal'] = df['dismissal'].replace('b', 'bowled')

In [80]:
df['dismissal'] = df['dismissal'].replace({
    'c': 'caught',
    'lbw': 'leg_before_wicket'
})

In [81]:
#12: index â€“ Indexing and Resetting Index
df.set_index('batsman_name', inplace=True)

In [82]:
df.reset_index(inplace=True)

In [83]:
df.set_index(['country', 'match_id'], inplace=True)

In [84]:
print(df.loc[('IND', 0)])

                      batsman_name                        dismissal  runs  \
country match_id
IND     0             Rohit Sharma                     b Madushanka   4.0
        0             Shubman Gill            c Mendis b Madushanka  92.0
        0              Virat Kohli          c Nissanka b Madushanka  88.0
        0             Shreyas Iyer        c Theekshana b Madushanka  82.0
        0                 KL Rahul            c Hemantha b Chameera  21.0
        0         Suryakumar Yadav            c Mendis b Madushanka  12.0
        0          Ravindra Jadeja  run out (Samarawickrama/Mendis)  35.0
        0           Mohammed Shami                 run out (Mendis)   2.0
        0           Jasprit Bumrah                          not out   1.0

                  balls  minutes  4s  6s      SR opposition_team  \
country match_id
IND     0             2        2   1   0  200.00       Sri Lanka
        0            92      136  11   2   50.00       Sri Lanka
        0            94      139  11   0   93.61       Sri Lanka
        0            56       84   3   6  146.42       Sri Lanka
        0            19       34   2   0  110.52       Sri Lanka
        0             9       13   2   0  133.33       Sri Lanka
        0            24       41   1   1  145.83       Sri Lanka
        0             4       11   0   0   50.00       Sri Lanka
        0             1        1   0   0   50.00       Sri Lanka

                  batting_innings batsman_name_3char  first_name last_name  \
country match_id
IND     0                       1                Roh       Rohit    Sharma
        0                       1                Shu     Shubman      Gill
        0                       1                Vir       Virat     Kohli
        0                       1                Shr     Shreyas      Iyer
        0                       1                KL           KL     Rahul
        0                       1                Sur  Suryakumar     Yadav
        0                       1                Rav    Ravindra    Jadeja
        0                       1                Moh    Mohammed     Shami
        0                       1                Jas     Jasprit    Bumrah

                         full_name
country match_id
IND     0             Rohit Sharma
        0             Shubman Gill
        0              Virat Kohli
        0             Shreyas Iyer
        0                 KL Rahul
        0         Suryakumar Yadav
        0          Ravindra Jadeja
        0           Mohammed Shami
        0           Jasprit Bumrah

C:\Users\VISHAL\AppData\Local\Temp\ipykernel_15352\363016327.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(df.loc[('IND', 0)])

In [85]:
print("\nIndex Info:")
print("Index type:", type(df.index))
print("Is index unique?", df.index.is_unique)

Index Info:
Index type: <class 'pandas.core.indexes.multi.MultiIndex'>
Is index unique? False

In [86]:
df.reset_index(inplace=True)
df.index = ['Row_' + str(i+1) for i in range(len(df))]

In [87]:
df.head()

,country,match_id,batsman_name,dismissal,runs,balls,minutes,4s,6s,SR,opposition_team,batting_innings,batsman_name_3char,first_name,last_name,full_name
Row_1,IND,0,Rohit Sharma,b Madushanka,4.0,2,2,1,0,200.00,Sri Lanka,1,Roh,Rohit,Sharma,Rohit Sharma
Row_2,IND,0,Shubman Gill,c Mendis b Madushanka,92.0,92,136,11,2,50.00,Sri Lanka,1,Shu,Shubman,Gill,Shubman Gill
Row_3,IND,0,Virat Kohli,c Nissanka b Madushanka,88.0,94,139,11,0,93.61,Sri Lanka,1,Vir,Virat,Kohli,Virat Kohli
Row_4,IND,0,Shreyas Iyer,c Theekshana b Madushanka,82.0,56,84,3,6,146.42,Sri Lanka,1,Shr,Shreyas,Iyer,Shreyas Iyer
Row_5,IND,0,KL Rahul,c Hemantha b Chameera,21.0,19,34,2,0,110.52,Sri Lanka,1,KL,KL,Rahul,KL Rahul

In [88]:
#13. groupby Queries 
print(df.groupby('country')['runs'].mean())

country
IND             41.616438
afghanistan     28.428571
australia       33.089888
bangladesh      23.142857
england         23.988764
netherlands     19.415730
new_zealand     35.684211
pakistan        30.833333
south_africa    32.416667
sri_lanka       26.972222
Name: runs, dtype: float64

In [89]:
print(df.groupby('opposition_team').size())

opposition_team
Afghanistan      75
Australia       109
Bangladesh       70
England          81
India           114
Netherlands      81
New Zealand      89
Pakistan         82
South Africa    102
Sri Lanka        72
dtype: int64

In [90]:
print(df.groupby('batsman_name')['balls'].sum())

batsman_name
Abdullah Shafique    360
Adam Zampa            60
Adil Rashid           91
Agha Salman           45
Aiden Markram        366
                    ...
Usama Mir              3
Vikramjit Singh      150
Virat Kohli          847
Wesley Barresi       112
Will Young           246
Name: balls, Length: 146, dtype: int64

In [91]:
print(df.groupby('match_id')['runs'].sum())

match_id
0     382.0
1     473.0
2     451.0
3     343.0
4     468.0
5     588.0
6     473.0
7     377.0
8     337.0
9     687.0
10    332.0
11    531.0
12    527.0
13    736.0
14    412.0
15    539.0
16    399.0
17    551.0
18    408.0
19    298.0
20    380.0
21    515.0
22    585.0
23    577.0
24    471.0
25    306.0
26    528.0
27    553.0
28    501.0
29    500.0
30    661.0
31    470.0
32    507.0
33    458.0
34    412.0
35    462.0
36    381.0
37    628.0
38    489.0
39    396.0
40    649.0
41    632.0
42    571.0
43    515.0
44    542.0
45    467.0
46    353.0
47    556.0
Name: runs, dtype: float64

In [92]:
print(df.groupby('country')['SR'].max())

country
IND             200.00
afghanistan     194.44
australia       264.28
bangladesh      233.33
england         300.00
netherlands     255.55
new_zealand     250.00
pakistan        220.00
south_africa    600.00
sri_lanka       200.00
Name: SR, dtype: float64

In [93]:
#14: Multiple Aggregations using .agg()
print(df.groupby('country')['runs'].agg(['mean', 'median']))

                   mean  median
country
IND           41.616438    34.0
afghanistan   28.428571    20.5
australia     33.089888    18.0
bangladesh    23.142857    14.5
england       23.988764    15.0
netherlands   19.415730    12.0
new_zealand   35.684211    24.5
pakistan      30.833333    23.0
south_africa  32.416667    20.0
sri_lanka     26.972222    14.5

In [94]:
print(df.groupby('opposition_team')['SR'].agg(['sum', 'mean', 'count']))

                     sum       mean  count
opposition_team
Afghanistan      5680.14  75.735200     75
Australia        7753.46  71.132661    109
Bangladesh       5718.08  81.686857     70
England          6322.49  78.055432     81
India            7374.68  64.690175    114
Netherlands      7301.62  90.143457     81
New Zealand      8101.38  91.026742     89
Pakistan         7056.01  86.048902     82
South Africa     7860.84  77.067059    102
Sri Lanka        7156.22  99.391944     72

In [95]:
print(df.groupby('match_id')['runs'].agg(['min', 'max']))

           min    max
match_id
0          1.0   92.0
1          1.0   68.0
2          1.0  137.0
3          1.0   87.0
4          4.0   91.0
5          1.0  174.0
6          2.0   89.0
7          2.0   86.0
8          1.0   51.0
9          1.0  134.0
10         1.0   58.0
11         3.0  108.0
12         1.0  130.0
13         1.0  116.0
14         1.0   78.0
15         1.0  109.0
16         1.0  101.0
17        11.0  152.0
18         2.0   78.0
19         1.0   59.0
20         1.0   97.0
21         1.0   71.0
22         2.0  177.0
23         1.0  140.0
24         2.0   80.0
25         1.0   77.0
26         1.0   70.0
27         3.0  201.0
28         2.0   91.0
29         2.0  133.0
30         4.0  108.0
31         1.0  106.0
32         1.0  103.0
33         2.0  109.0
34         1.0   71.0
35         1.0   73.0
36         1.0  101.0
37         1.0  163.0
38         1.0  108.0
39         1.0   81.0
40         1.0  131.0
41         2.0  128.0
42         2.0  126.0
43         2.0  131.0
44         3.0   87.0
45         2.0   97.0
46         1.0   68.0
47         1.0   84.0

In [96]:
df['SR_range'] = df.groupby('country')['SR'].transform(lambda x: x.max() - x.min())
print(df[['country', 'SR_range']].drop_duplicates())

              country  SR_range
Row_1             IND    200.00
Row_10       pakistan    220.00
Row_42    netherlands    255.55
Row_53   south_africa    600.00
Row_60     bangladesh    233.33
Row_82      sri_lanka    200.00
Row_121   new_zealand    250.00
Row_132     australia    264.28
Row_173       england    300.00
Row_195   afghanistan    194.44

In [97]:
print(df.groupby('opposition_team').agg({'balls': 'mean', '4s': 'sum'}))

                     balls   4s
opposition_team
Afghanistan      32.093333  184
Australia        27.513761  237
Bangladesh       34.171429  222
England          28.975309  212
India            24.429825  199
Netherlands      30.765432  248
New Zealand      30.460674  224
Pakistan         30.256098  252
South Africa     25.264706  230
Sri Lanka        31.430556  231